.closing-touch {
  height: 160px;
  background: linear-gradient(90deg, #b9bcc5 0%, #f6edf2 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.beautiful-btn {
  padding: 18px 48px;
  background: #e2b4bd;
  color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 18px;
  box-shadow: 0 4px 14px #f9c6db36;
  cursor: pointer;
  transition: background 0.2s;
}
.beautiful-btn:hover {
  background: #db99af;
}

.moon-text {
  font-size: 18px;
  color: #9b9a96;
  margin-top: 12px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.1px;
}
