.final-section {
  min-height: 430px;
  background: linear-gradient(160deg, #fadcd9 0%, #f2e9e4 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 85px 0 90px 0;
}

.big-sentence {
  font-size: 31px;
  margin-bottom: 34px;
  font-weight: 700;
  color: #b08ea2;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.6px;
}
